.sirve_meta_box_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.sirve_meta_box_table th {
    padding: 18px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    width: 20%;
}
.sirve_meta_box_table td input {
    width: 50%;
}
.sirve_meta_box_table td select {
    width: 50%;
}
.sirve_expired {
    color: red;
    font-weight: bold;
}
.sirve_select_control {
    width: 175px;
}
#adminmenu .wp-menu-image img {
    padding: 4px 0 0 0;
}
.nav-tab {
    cursor: pointer;
}
.sirve-form-table tbody tr td span {
    line-height: 2;
}
.sirve_permalink {
    width: 140px;
}
input#htSirveFeaturePost,
input#htSirveDoFollowPostBtn1,
input#htSirveDoFollowPostBtn2 {
    width: 15px;
}

.sirve_tabcontent {
    padding-top: 10px;
}
