.sirve__mb-30 {
  margin-bottom: 30px;
}

.sirve__container {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .sirve__container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .sirve__container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.sirve__container--xl {
  width: 100%;
  /* padding-right: 1rem; */
  /* padding-left: 1rem; */
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1700px) {
  .sirve__container--xl {
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1200px) {
  .sirve__container--xl {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .sirve__container--xl {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.sirve__row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.sirve__col-lg-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.sirve__col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.sirve__col-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sirve__col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .sirve__col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .sirve__col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.sirve__col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sirve__col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .sirve__col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  .sirve__col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

:root {
  --htsirve-primary: #fbc50b;
  --htsirve-border-bg: #fbc50b;
  --htsirve-discount-bg: #fb710b;
}

.loading-item {
  display: none;
}

.sirve__header {
  padding: 0 5px 0 20px;
  border: 1px solid #ececec;
  margin-bottom: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .sirve__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column-reverse;
    padding-top: 20px;
  }
}

.sirve__search {
  position: relative;
}

.sirve__search .sirve__search-input {
  background-color: #f2f2f2;
  border-radius: 8px;
  border: none;
  height: 50px;
  padding: 0 50px 0 25px;
  position: relative;
  color: #222;
  font-size: 16px;
  font-style: italic;
}

.sirve__search .sirve__search-input:focus {
  outline: none;
}

.sirve__search .search_button {
  position: absolute;
  right: 0;
  background-color: transparent !important;
  border: none;
  top: 0%;
  height: 50px;
  padding: 14px 12px;
  z-index: 99;
  width: 42px;
  cursor: pointer;
}

.sirve__nav-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sirve__nav-item {
  display: inline-block;
  padding: 0px 10px;
}

.sirve__nav-link {
  padding: 20px 0px;
  display: block;
  border: none;
  cursor: pointer;
  background: transparent !important;
  font-size: 15px;
  color: #000 !important;
}
.sirve__nav-link:focus,
.sirve__nav-link:hover {
  background-color: transparent;
  outline: none;
}
.sirve__nav-link.active {
  border-bottom: 2px solid var(--htsirve-border-bg);
  border-radius: 0;
  background-color: transparent;
}

.sirve__tab-pane {
  display: none;
}

.sirve__tab-pane.active {
  display: block;
}

.sirve__card {
  border: 1px solid #ececec;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sirve__thum {
  position: relative;
}

.sirve__thum img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.sirve__featured {
  background-color: var(--htsirve-discount-bg);
  height: 32px;
  padding: 0 15px 0 10px;
  color: #fff;
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  right: 0;
  top: 15px;
}

.sirve__featured::after,
.sirve__featured::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 0;
}

.sirve__featured::before {
  border-width: 0 0 17px 17px;
  border-color: transparent transparent var(--htsirve-discount-bg) transparent;
  right: 100%;
  bottom: 0;
}

.sirve__featured::after {
  border-width: 0 17px 17px 0;
  right: 100%;
  top: 0;
  border-color: transparent var(--htsirve-discount-bg) transparent transparent;
}

.sirve__content {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sirve__title {
  margin: 0;
  font-size: 20px;
  color: #000;
}

.sirve__des {
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 35px;
}

.sirve__des p {
  margin-bottom: 0px;
}

.sirve__card--three-style {
  position: relative;
  margin-right: 20px;
  width: 100%;
}

.sirve__button {
  --sirve-button-height: 50px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  padding: 0 5px;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  height: var(--sirve-button-height);
  line-height: var(--sirve-button-height);
  display: block;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sirve__button_box {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .sirve__button {
    padding: 0 12px;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
  }
}

.sirve__button-visit {
  background-color: var(--htsirve-primary);
  font-weight: 600;
  color: #000;
  text-decoration: none !important;
}

.sirve__button-visit:hover {
  color: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .sirve__button {
    padding: 0 12px;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
  }
}

.sirve__button-live {
  background-color: transparent;
  border: 1px solid #777;
  color: #333;
}

.sirve__button-live:hover {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #fff;
}

.sirve__button-visit {
  background-color: #3f4eae;
  border: 1px solid #3f4eae;
  color: #ffffff;
}

.sirve__button-visit:hover {
  background-color: transparent;
  border: 1px solid #777;
  color: #333;
}


.sirve__load-more-button {
  text-align: center;
  margin-top: 20px;
}

.sirve__loadMore img {
  width: 16px;
  margin-left: 10px;
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-bottom: -2px;
}

.sirve__loadMore.noContent {
  cursor: inherit;
  background-color: var(--htsirve-primary);
}

.sirve__btn_more {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  padding: 0 28px;
  border-radius: 8px;
  background-color: #54a029;
  color: #fff;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.sirve__shareable-link {
  color: #54a029;
  font-weight: 600;
}

.sirve__card--horizontal {
  border: 1px solid #ececec;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media only screen and (max-width: 575px) {
  .sirve__card--horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.sirve__card--horizontal .sirve__thum {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 200px;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  margin-right: 20px;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sirve__card--horizontal .sirve__thum {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 160px;
    -ms-flex: 1 0 160px;
    flex: 1 0 160px;
  }
}

@media only screen and (max-width: 575px) {
  .sirve__card--horizontal .sirve__thum {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 160px;
    -ms-flex: 1 0 160px;
    flex: 1 0 160px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.sirve__card--horizontal .sirve__shareable-link {
  color: #222;
}

.sirve__card--horizontal .sirve__des {
  margin-bottom: 0px;
}

.sirve__card--three .sirve__button {
  width: 100%;
  text-align: center;
}

.sirve__card--three .sirve__button_box {
  flex-wrap: wrap;
}

.sirve__card--three .sirve__shareable-link {
  color: #222;
}

.sirve__card--four {
  border: 1px solid #ececec;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media only screen and (max-width: 575px) {
  .sirve__card--four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.sirve__card--four .sirve__thum {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 340px;
  -ms-flex: 1 0 340px;
  flex: 1 0 340px;
  margin-right: 40px;
  margin-bottom: 0;
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {
  .sirve__card--four .sirve__thum {
    margin-right: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .sirve__card--four .sirve__thum {
    margin-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 250px;
    -ms-flex: 1 0 250px;
    flex: 1 0 250px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sirve__card--four .sirve__thum {
    margin-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 158px;
    -ms-flex: 1 0 158px;
    flex: 1 0 158px;
  }
}

@media only screen and (max-width: 767px) {
  .sirve__card--four .sirve__thum {
    margin-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 200px;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
  }
}

@media only screen and (max-width: 575px) {
  .sirve__card--four .sirve__thum {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.sirve__card--four .sirve__des {
  margin-bottom: 10px;
}

.sirve__card--four .sirve__shareable-link {
  color: #222;
}

.text-center {
  text-align: center;
  margin: auto;
}

.sirve__single_list {
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
}

.sirve-pagination-style {
  display: inline-block;
}

.sirve-pagination-style a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-right: 5px;
}
.sirve-pagination-style a:not(.sirve-pointer) {
  border: 1px solid #ddd;
  cursor: pointer;
}

.sirve-pagination-style a.active {
  background-color: #fbc50b;
  color: white;
  border: 1px solid #fbc50b;
  pointer-events: none;
}

.sirve-pagination-style a:hover:not(.active) {
  background-color: #ddd;
  border: 1px solid #ddd;
}
.sirve-pagination-style a:hover {
  color: #000;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.sirve-pagination-link-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sirve-pagination-link-left svg{
  margin-right: 3px;
}


.sirve-pagination-link-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sirve-pagination-link-right svg{
  margin-left: 3px;
}



.sirve-pagination-style .sirve-pointer {
  pointer-events: none;
  padding: 8px 8px;
}

.sirve__single_page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sirve_no_result {
  padding-top: 180px;
  padding-bottom: 180px;
}

/* Sirve Loder */
.beforeLoader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.05);
  z-index: 2;
  border-radius: 8px;
  
}
.sirve-after-loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 50%;
  right: auto;
  top: 370px;
  z-index: 999;
  overflow: hidden;
}
.sirve__container {
  position: relative;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sirve__header .sirve-category-title {
  padding-bottom: 15px;
  padding-top: 10px;
}

.sirve__category-header {
  padding: 0 5px 0 20px;
  border: 1px solid #ececec;
  margin-bottom: 30px;
  border-radius: 8px;

}

.sirve-category-header-title {
  padding-bottom: 10px;
}

.sirve-category-footer-content {
  margin-top: 30px;
}

.sirve-category-header-title .sirve-category-title {
  margin-bottom: 0px;
}

/* .sirve-post-categorys {
  margin-bottom: 20px;
} */

.sirve-margin-categorys {
  margin: 5px 0 25px;
}